.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #95dada;
  padding: 25px;
  cursor: pointer;
  transition: transform 0.25s ease-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-container:hover {
  transform: scale(1.05) rotate(0.05deg);
}
